* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    align-items: flex-start;
    padding: 3rem;
}

.cards {
    height: 400px;
    width: 250px;
    border: 1px solid black;
    border-radius: 1rem;
    background: url('https://cdn.normacomics.com/media/catalog/product/cache/1/image/588x473/9df78eab33525d08d6e5fb8d27136e95/v/e/vengadores_premiere.jpg') center/cover;
    margin: 1rem;
    box-shadow: 0px 4px 12px red;
    backface-visibility: visible;
    transform-origin: 50% 50%;
    transform: perspective(500px) rotateY(0deg) rotate3d(1, 0, 0, 50deg);
    transition: all .5s ease-in-out;
}

.cards:hover {
    backface-visibility: visible;
    transform: perspective(0px) rotateY(0deg) rotate3d(0, 0, 0, 0deg);
}